div.bookshelf {
  background-image: url("/public/shelves.png");
  background-size: cover; /* Scales the image to cover the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 98vh;
  width: 1000px;
}

.bookshelfActionsContainer {
  height: 20%;
}

.bookshelfRowContainer {
  margin-left: 15%;
  height: 20%;
}