.googleSearchForm {
    margin-bottom: 15px;
    
}

.googleBookResults {
    overflow-y: scroll;

    .googleBookResultItem {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 10px;
    }

    min-height: 150px;
    max-height: 500px;
}

.googleSearchThumbnail {
    width: 50px;
    margin-right: 10px;
}

.addBookButtonContainer {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;

    .btn {
        margin-top: 10px;
    }
}

.bi-google, .bi-save {
    margin-right: 4px;
}